.App {
  font-family: sans-serif;
}

.App-header {
  display: flex;
  align-items: center;
  color: #e0354b;
  border-bottom: 3px solid #e0354b;
}

.App-header img {
  width: 200px;
  height: 200px;
}

.App-body {
  margin: 50px;
}

.App-footer {
  border-top: 3px solid #e0354b;
  width: 100%;
  text-align: center;
  font-style: italic;
}
