#CourseList {
  width: 100%;
  border-collapse: collapse;
}

#CourseList th, #CourseList td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

#CourseList th {
  text-align: center;
}

#CourseList thead tr:first-child th {
  text-align: center;
}
